@import 'tailwindcss';
@plugin "tailwindcss-animate";

@font-face {
    font-family: 'Jost';
    src: url('/fonts/Jost-VariableFont_wght.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}



html, body {
  font-family: 'Jost', sans-serif;
  overscroll-behavior: none;

}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-9deg); }
  50% { transform: rotate(9deg); }
  75% { transform: rotate(-9deg); }
  100% {transform: rotate(0deg);}
}

@keyframes wiggleSm {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-4deg); }
  50% { transform: rotate(4deg); }
  75% { transform: rotate(-4deg); }
  100% {transform: rotate(0deg);}
}

@keyframes spring-wiggle {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(10deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(6deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(2deg); }
  60% { transform: rotate(-1deg); }
  70% { transform: rotate(0.5deg); }
  80% { transform: rotate(-0.2deg); }
  90% { transform: rotate(0.1deg); }
  100% { transform: rotate(0deg); }
}


.animate-wiggle {
animation: wiggle 0.5s infinite ease-in-out;
}

.animate-wiggle-hover:hover {
  animation: wiggle 0.5s 2 ease-in-out;
}

.animate-wiggleSm-hover:hover {
  animation: wiggleSm 0.5s 2 ease-in-out;
}

.animate-wiggle-twice {
  animation: wiggleSm 0.5s 2 ease-in-out;
}

.animate-spring {
  animation:  spring-wiggle 0.5s 1 ease-in-out;
}